body {
    margin: 0;
    padding: 0;
}

.part1 {
    
   
    background-image: url('image/bg.jpg');
    height: auto;
    width: auto;
    background-size: cover;
    overflow:auto; 

   
   
}   



.c1 {
    margin-top: 120px;

}

.c1 h4 {
    color: #fff;
    font-size: 60px;
    text-shadow: 5px 5px 5px black;
    
}
.c1 p {
    color: #fff;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
}

.d1 , .d2  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.d3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;

}

.d3 button   {
    width: 250px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 3vh;
  
    

}
.d3 button:hover {
    background-color: orangered;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
}
.d4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 15vh;
    
}
.d4 div ,.div4s{
    width: 250px;
    height: 200px;
    background-color: orangered;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}
#div4s-4{
    margin-left: 25px;
}
.d4 img {
    height: 80px;
}


 /* part 2*/ /* part 2*/ /* part 2*/
 
.part2 {
    
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    

}
.part2 div {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.part2 h2 , p ,li {
    color: #fff;
}
.part2 h2 {
    color: orangered;
}

/* part 3*//* part 3*//* part 3*/

.part3 {
    background-image: url("image/sd.jpg");
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
}
.part3 p {
    color: black;
}
.part3 div {
    margin-top: 20px;
    
    border: 1px solid black;
    align-items: center;
    width: 220px;
    height: 220px;
    border: 1px solid black;    
    margin-bottom: 50px;
    background-color: white;

    display: grid;
    justify-content: center;
    align-items: center;
   
}

.end , marquee {
    color: white;
    height: 100px;
    background-color: #1A1A1A;
   display: flex;
}
#mobilenumber {
    color: orangered;
    font-weight: bold;
}